@font-face {
  font-family: "Archivo black";
  src: url("/fonts/ArchivoBlack-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0025-00FF;
}
@font-face {
  font-family: "Archivo light";
  src: url("/fonts/Archivo-Light.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0025-00FF;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #570f16;
}
h1 {
  color: #f5d61b;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Archivo black";
}

h2 {
  color: #f5d61b;
}

main {
  height: 100%;
  width: 100%;
  height: 3000px;
}
section.first {
  position: relative;
  height: 100vh;
}
section.second {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

section.second h2 {
  font-size: 50px;
}

.primo-testo {
  position: absolute;
  top: 80vh;
  max-width: 700px;
  right: 10%;
}
.primo-testo h2 {
  color: #f5d61b;
  font-size: 100px;
  margin: 0;
}
.primo-testo p {
  color: white;
  font-family: "Archivo light";
  letter-spacing: 1px;
  line-height: 28px;
  margin: 0;
}
.first-bird {
  position: absolute;
  right: 0;
  z-index: 3;
}
.second-bird {
  position: absolute;
  left: -10px;
  z-index: 0;
}
.wrap-text-back {
  max-width: 1010px;
  line-height: 0.8;
  position: absolute;
  top: 160px;
  right: 20%;
  z-index: 0;
}
.wrap-text-back div {
  color: #6f0e20;
  font-family: "Archivo Black";
  font-size: 20vw;
  text-transform: uppercase;
  margin: 0;
  hyphens: auto;
  word-break: break-all;
}

.wrap-colombia-map {
  position: absolute;
  left: -240px;
  z-index: 1;
}

.wrap-colombia-map h1 {
  position: absolute;
  left: 420px;
  top: 44%;
  font-size: 170px;
  line-height: 0.8;
  text-indent: -86px;
}
.wrapper-box-text {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.box-text {
  position: relative;
  flex-basis: 200px;
  text-align: center;
  padding: 10px;
}

.box-text h2 {
  font-size: 70px;
}

.box-text p {
  line-height: 1.2;
  font-family: "Archivo Black";
}

.wrapper-lista {
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
}
.wrapper-lista .item-lista {
  flex-basis: 70px;
  margin: 13px;
  position: relative;
}

.item-lista .wrapper-info {
  position: absolute;
  top: 30%;
  opacity: 1;
  color: white;
  font-family: "Archivo black";
  width: max-content;
  z-index: 100;
  text-align: center;
  background: #242472;
  padding: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.item-lista {
  z-index: 1;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}

.item-lista.default {
  transform: scale(1);
  z-index: 0;
}

.item-lista.on {
  transform: scale(1);
  z-index: 1;
}
.item-lista.off {
  transform: scale(0.9);
  z-index: 0;
}

.dettagli {
  font-family: "Archivo Light";
  letter-spacing: 2px;
  background-color: #2f3d7838;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
}
.nome {
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  font-size: 20px;
}
.data {
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  font-family: "Archivo Light";
  font-size: 18px;
}
.ruolo {
  font-family: "Archivo Black";
  color: #fff;
  font-size: 20px;
}
.comune {
  font-size: 15px;
  margin: 10px 0 0 0;
}

.intestazione {
  display: flex;
  align-items: center;
  position: relative;
}

.intestazione .anno {
  font-family: "Archivo Black";
  color: #f5d61b;
  font-size: 130px;
  margin-right: 1rem;
}
.bottom-bird {
  position: absolute;
  right: -30px;
}
.head-image {
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 14vw;
}
